@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
  font-style: normal;
  font-weight: normal;
}
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Inter, sans-serif;
  background-color: #E1D4C9;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #403F3D;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 40px 40px 40px;
}
/*header start*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header_logo {
  width: 100px;
  height: 60px;
}
.header_menu {
  display: flex;
  align-items: center;
  gap: 43px;
  list-style: none;
}
.header_menu a{
  text-decoration: none;
  font-weight: 600;
  color: #403F3D;
}
.link-container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 5px;
  border-bottom: 2px solid #403F3D;
}
.link-container span {
  font-weight: 600;
}
/*header end*/
/*menu start*/
.menu-header {
  font-size: 60px;
  line-height: 125%;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 40px;
  letter-spacing: 0.7px;
}
.menu-header i {
  color: #B0907A;
}

/* button group start */
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 40px;
}
.tabs-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px 8px 8px;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  background-color:#E1D4C9;
  font-weight: 600;
  cursor: pointer;
}
.tab-active {
  background-color: #665F55;
  border: 1px solid #665F55;
  color: #E1D4C9;
  cursor: auto;
}
.tab-active .icon {
  background-color: #E1D4C9;
}
.icon {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #C1B6AD;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.coffee .icon {
  background-image: url('../images/menu/coffee-icon.svg');
}
.tea .icon {
  background-image: url('../images/menu/tea-icon.svg');
}
.dessert .icon {
  background-image: url('../images/menu/dessert-icon.svg');
}
/* button group end */
.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: 60px;
}
.menu-item {
  max-width: 310px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  border-radius: 40px;
  border: 1px solid #C1B6AD;
  transition: all .5s linear;
}
.menu-item:hover {
  transform: scale(1.05);
}
.item-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  overflow: hidden;
  height: 307px;
}
.item-photo img {
  width: 340px;
  height: 340px;
}
.item-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  min-height: 196px;
}
.item-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 12px;
}
.item-price {
  display: block;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
/*menu end*/
/*footer start*/
footer {
  background-color: #665F55;
  padding: 100px 100px 94px 100px;
  border-radius: 40px;
  display: flex;
  gap: 100px;
  color: #E1D4C9;
  font-weight: 600;;
}
.footer_column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 530px;
}
.tagline {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
}
.tagline i {
  color: #B0907A;
}
.media-button {
  background-color: #665F55;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #C1B6AD;
  margin-left: 8px;
  cursor: pointer;
}
.twitter {
  background: url('../images/twitter.svg') 50% 50% no-repeat;
  margin-left: 0;
}
.instagram {
  background: url('../images/instagram.svg') 50% 50% no-repeat;
}
.facebook {
  background: url('../images/facebook.svg') 50% 50% no-repeat;
}
.contact_title {
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0.4px;
  margin-bottom: 37px;
  margin-top: 32px;
}
.footer-address {
  display: flex;
  flex-direction: column;
  gap: 18px;
  letter-spacing: 0.2px;
}
.footer-address a {
  color:#E1D4C9;
  text-decoration: none;
}
.address::before {
  content: url('../images/pin-alt.svg');
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.tel::before {
  content: url('../images/phone.svg');
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.schedule::before {
  content: url('../images/clock.svg');
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
/*footer end*/