@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
  font-style: normal;
  font-weight: normal;
}
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Inter, sans-serif;
  background-color: #E1D4C9;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #403F3D;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 40px 40px 40px;
}
/*header start*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}
.header_logo {
  width: 100px;
  height: 60px;
  pointer-events: none;
}
.nav {
  width: auto;
}
.header_menu {
  display: flex;
  align-items: center;
  gap: 43px;
  list-style: none;
  transition: all .5s ease;
}
.header_menu a{
  text-decoration: none;
  color: #403F3D;
  font-weight: 600;
  transition: all .5s ease;
}
.header_menu-item {
  transition: all .5s ease;
}
.header_menu-item:hover {
  transform: scale(1.1);
}
.header_menu a:hover {
  color:#665F55;
  text-decoration-color: #665F55;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}
.menu_link {
  width: 72px;
  min-height: 24px;
  transition: all 1s ease;
}
.menu_link:hover {
  border-bottom: 2px solid #403F3D;
}
.menu_link a {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  text-decoration: none;
  color: #403F3D;
  font-weight: 600;
}
/* header burger start */
.header-burger {
  position: absolute;
  right: 0;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  border: 1px solid #665F55;
  display: none;
}
.header-burger_line {
  position: absolute;
  top: 16px;
  left: 13px;
  display: block;
  width: 16px;
  height: 1.5px;
  background-color: #403F3D;
}
.header-burger_line:last-child{
  top: 24px;
  left: 13px;
}
.header-burger-close {
  position: absolute;
  right: 0;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  border: 1px solid #665F55;
  display: none;
}
.header-burger-close_line {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 16px;
  height: 1.5px;
  background-color: #403F3D;
}
.header-burger-close_line:first-child {
  transform: translateX(-50%) rotate(45deg);
}
.header-burger-close_line:last-child {
  transform: translateX(-50%) rotate(-45deg);
}
/* header burger end */
/*header end*/
section {
  margin-bottom: 100px;
}
h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.7px;
}
/* enjoy start */
.enjoy {
  background-image: url(../images/enjoy_back.jpg);
  background-position: 0% 49%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  border-radius: 40px;
}
.enjoy-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  max-width: 530px;
}
.enjoy_title {
  margin: 0;
  padding: 0;
  font-size: 72px;
  font-weight: 600;
  color: #E1D4C9;
  line-height: 105%;
  letter-spacing: 1px;
}
.enjoy_title i {
  color: #B0907A;
}
.enjoy_content {
  color: #E1D4C9;
}
.enjoy_button {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 200px;
  text-align: center;
  padding: 22px 78px 21px;
  border-radius: 100px;
  background-color: #E1D4C9;
  color: #403F3D;
  text-decoration: none;
  font-weight: 600;
  transition: all .5s ease;
}
.enjoy_button img {
  position: absolute;
  top: 33%;
  right: 32%;
  display: none;
}
.enjoy_button:hover {
  padding-left: 48px;
}
.enjoy_button:hover img {
  display: block;
}
/* enjoy end */
/*favourite start*/
.section_title {
  text-align: center;
  margin-bottom: 38px;
}
.section_title i {
  color: #B0907A;
}
.slider {
  display: flex;
  width: 100%;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid #665F55;
  border-radius: 50%;
  background-color:#E1D4C9;
  cursor: pointer;
  transition: all 0.7s ease;
}
.arrow:hover {
 background-color: #665F55;
}
.arrow svg path{
  transition: all 0.8s ease;
}
.arrow:hover svg path {
  stroke: #E1D4C9;
 }

.slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider-container {
  display: flex;
  max-width: 480px;
  overflow: hidden;
}
.slider_item {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.slider_image img{
  width: 480px;
  height: 480px;
}
.slider_description h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin-top: 15px;
  margin-bottom: 16px;
}
.slider_price {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin-top: 16px;
}
.control-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.control_item {
  display: block;
  width: 40px;
  height: 4px;
  background-color: #C1B6AD;
  border-radius: 100px;
}
.control_item__active {
  background-color: #665F55;
}
/*favourite end*/

/* about start */
.about_title {
  text-align: left;
  letter-spacing: 0.4px;
}
.photo-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1360px;
  min-height: 1060px;
  justify-content: space-between;
  gap: 40px;
}
.photo_column {
  display: flex;
  flex-direction: column;
  max-width: 660px;
  gap: 40px;
  overflow: hidden;
}
.photo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 660px;
  height: 590px;
  border-radius: 20px;
  overflow: hidden;
  transition: all 1s ease;
}
.small-photo {
  height: 430px;
}

.photo-item img {
  width: 726px;
  height: 726px;
  transition: all 1s ease;
}
.photo-item:hover img{
  transform: scale(0.95);
}
/* about end */
/* mobileapp start */
#mobileapp {
  display: flex;
  justify-content: space-between;
}
.mobileapp_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobileapp_promo {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 620px;
}
#mobileapp .section_title {
  text-align: left;
  margin-bottom: 0;
}
.mobileapp_img {
  width: 630px;
  min-height: 630px;
  background-image: url('../images/mobile-screens.png');
  background-position: center;
  background-repeat: no-repeat;
}
.buttons-wrapper {
  display: flex;
  gap: 20px;
}
.app-button {
  display: flex;
  align-items: center;
  width: 200px;
  padding: 12px 20px 12px;
  border-radius: 100px;
  border: 1px solid #665F55;
  background-color: #E1D4C9;
  cursor: pointer;
  transition: all 1s ease;
}
.app-button:hover {
  background-color: #665F55;
}
.brand-logo {
  width: 36px;
  height: 36px;
}
.apple {
  background-image: url('../images/icon-apple.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s ease;
}
.app-button:hover .apple {
  background-image: url('../images/icon-apple-light.svg');
}
.google {
  background-image: url('../images/icon-google.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s ease;
}
.app-button:hover .google {
  background-image: url('../images/icon-google-light.svg');
}
.app-button_name {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  font-weight: 600;
  text-align: left;
  transition: all 0.7s ease;
}
.app-button_name span:first-child {
  font-size: 10px;
  line-height: 140%;
}
.app-button:hover .app-button_name {
  color: #E1D4C9;
}

/* mobileapp end */
/* footer start */
footer {
  background-color: #665F55;
  padding: 100px;
  border-radius: 40px;
  display: flex;
  gap: 100px;
  color: #E1D4C9;
  font-weight: 600;;
}
.footer_column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 530px;
}
.tagline {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
}
.tagline i {
  color: #B0907A;
}
.media-button {
  background-color: #665F55;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #C1B6AD;
  margin-left: 8px;
  cursor: pointer;
  transition: all 1s ease;
}
.media-button:first-child {
  margin-left: 0;
}
.media-button:hover {
  background-color: #E1D4C9;
}
.media-button:hover svg path {
  stroke: #403F3D;
  transition: all 1s ease;
}
.contact_title {
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0.4px;
  margin-bottom: 37px;
  margin-top: 32px;
}
.footer-address {
  letter-spacing: 0.2px;
}
.footer-address a {
  display: block;
  max-width: 190px;
  color:#E1D4C9;
  text-decoration: none;
  margin-bottom: 18px;
}
.footer-address a:last-child {
  max-width: 170px;
}
.footer-address a:hover {
  border-bottom: 2px solid #E1D4C9;
}

.address::before {
  content: url('../images/pin-alt.svg');
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.tel::before {
  content: url('../images/phone.svg');
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.schedule::before {
  content: url('../images/clock.svg');
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
/* footer end */
/* media start */
@media screen and (max-width: 768px){
  .header_menu {
    position:absolute;
    top: 100%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: #E1D4C9;
    padding: 60px 40px;
    gap: 60px;
    z-index: 10;
    transform: translate(100%);
    display: none;
  }
  .header_menu__active {
    transform: translate(-50%);
    display: block;
  }
  .menu_link {
    display: none;
  }
  .menu_link__active {
    display: block;
    position: absolute;
    z-index: 11;
    top: 500px;
    left: 50%;
    transform: translate(-50%);
  }
  .header-burger {
    display: block;
  }
  .enjoy {
    padding-left: 60px;
    padding-right: 60px;
    background-position: 50% 0%;
  }
  .enjoy_button {
    padding-left: 48px;
  }
  .enjoy_button img {
    display: block;
  }
  .photo_column {
    flex-direction: column;
    max-width: 688px;
  }
  .photo-item {
    width: 688px;
    height: 590px;
  }
  .small-photo {
    display: none;
  }
  .mobileapp_wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .mobileapp_promo {
    max-width: 688px;
  }
  .mobileapp_img {
    width: 688px;
  }
  #mobileapp {
    flex-direction: column;
    gap: 100px;
  }
  footer {
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
    gap: 70px;
  }
}

/* media end */