@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
  font-style: normal;
  font-weight: normal;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Inter, sans-serif;
  background-color: #E1D4C9;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #403F3D;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 40px 40px 40px;
}
/*header start*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  /* position: relative; */
}
.header_logo {
  width: 100px;
  height: 60px;
  pointer-events: none;
}
.menu-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header_menu {
  display: flex;
  align-items: center;
  gap: 43px;
  list-style: none;
  transition: all .5s ease;
}
.header_menu a{
  text-decoration: none;
  color: #403F3D;
  font-weight: 600;
  line-height: 150%;
  transition: all .5s ease;
}
.header_menu-item {
  transition: all .5s ease;
}
.menu_link {
  width: 72px;
  min-height: 24px;
  transition: all 1s ease;
}
.menu_link::after {
  content: '';
  position: absolute;
  width: 72px;
  height: 3px;
  background-color: #403F3D;
  transform: scale(0);
  transition: all 0.7s ease-in;
}
.menu_link a {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  text-decoration: none;
  color: #403F3D;
  font-weight: 600;
}
/* header burger start */
.header-burger {
  position: absolute;
  right: 40px;
  top: 28px;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  border: 1px solid #665F55;
  transition: all 0.7s ease 0s;
  display: none;
}
.header-burger_line {
  position: absolute;
  top: 16px;
  left: 13px;
  display: block;
  width: 16px;
  height: 1.5px;
  background-color: #403F3D;
  transition: all 0.7s ease 0s;
}
.header-burger_line:last-child{
  top: 24px;
  left: 13px;
}

.header-burger.burger-active .header-burger_line{
  transform: rotate(45deg);
  top: 20px;
}
.header-burger.burger-active .header-burger_line:last-child {
  transform: rotate(-45deg);
}
/* header burger end */
/*header end*/
section {
  margin-bottom: 100px;
}
h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.7px;
}
/* enjoy start */
.enjoy {
  background-image: url(../images/enjoy_back.jpg);
  background-position: 0% 49%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  border-radius: 40px;
}
.enjoy-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  max-width: 530px;
}
.enjoy_title {
  margin: 0;
  padding: 0;
  font-size: 72px;
  font-weight: 600;
  color: #E1D4C9;
  line-height: 105%;
  letter-spacing: 1px;
}
.enjoy_title i {
  color: #B0907A;
}
.enjoy_content {
  color: #E1D4C9;
}
.enjoy_button {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 200px;
  text-align: center;
  padding: 22px 78px 21px;
  border-radius: 100px;
  background-color: #E1D4C9;
  color: #403F3D;
  text-decoration: none;
  font-weight: 600;
  transition: all .5s ease;
}
.enjoy_button img {
  position: absolute;
  top: 33%;
  right: 32%;
  display: none;
}

/* enjoy end */
/*favourite start*/
.section_title {
  text-align: center;
  margin-bottom: 38px;
}
.section_title i {
  color: #B0907A;
}
.slider {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid #665F55;
  border-radius: 50%;
  background-color:#E1D4C9;
  cursor: pointer;
  transition: all 0.7s ease;
}
.arrow svg path{
  transition: all 0.8s ease;
}
.slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 480px;
  overflow: hidden;
}
.item-wrapper {
  display: flex;
  position: relative;
  left: 0;
  max-width: calc(480px*3);
  transition: all 0.7s ease;
}
.slider_item {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.slider_image img{
  width: 480px;
  height: 480px;
}
.slider_description h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin-top: 15px;
  margin-bottom: 16px;
}
.slider_price {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin-top: 16px;
}
.control-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.control_item {
  display: block;
  width: 40px;
  height: 4px;
  background-color: #C1B6AD;
  border-radius: 100px;
}
.control_item__active {
  background-color: #665F55;
}
/*favourite end*/

/* about start */
.about_title {
  text-align: left;
  letter-spacing: 0.4px;
}
.photo-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1360px;
  min-height: 1060px;
  justify-content: space-between;
  gap: 40px;
}
.photo_column {
  display: flex;
  flex-direction: column;
  max-width: 660px;
  gap: 40px;
  overflow: hidden;
}
.photo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 660px;
  height: 590px;
  border-radius: 20px;
  overflow: hidden;
  transition: all 1s ease;
}
.small-photo {
  height: 430px;
}

.photo-item img {
  width: 726px;
  height: 726px;
  transition: all 1s ease;
}

/* about end */
/* mobileapp start */
#mobileapp {
  display: flex;
  justify-content: space-between;
}
.mobileapp_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobileapp_promo {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 620px;
}
#mobileapp .section_title {
  text-align: left;
  margin-bottom: 0;
}
.mobileapp_img {
  width: 630px;
  height: 630px;
  background-image: url('../images/mobile-screens.png');
  background-position: center;
  background-repeat: no-repeat;
}
.buttons-wrapper {
  display: flex;
  gap: 20px;
}
.app-button {
  display: flex;
  align-items: center;
  width: 200px;
  padding: 12px 20px 12px;
  border-radius: 100px;
  border: 1px solid #665F55;
  background-color: #E1D4C9;
  cursor: pointer;
  transition: all 1s ease;
}

.brand-logo {
  width: 36px;
  height: 36px;
}
.apple {
  background-image: url('../images/icon-apple.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s ease;
}

.google {
  background-image: url('../images/icon-google.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s ease;
}

.app-button_name {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  font-weight: 600;
  text-align: left;
  transition: all 0.7s ease;
}
.app-button_name span:first-child {
  font-size: 10px;
  line-height: 140%;
}


/* mobileapp end */
/* footer start */
footer {
  background-color: #665F55;
  padding: 100px;
  border-radius: 40px;
  display: flex;
  gap: 100px;
  color: #E1D4C9;
  font-weight: 600;;
}
.footer_column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 530px;
}
.tagline {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
}
.tagline i {
  color: #B0907A;
}
.media-button {
  background-color: #665F55;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #C1B6AD;
  margin-left: 8px;
  cursor: pointer;
  transition: all 1s ease;
}
.media-button:first-child {
  margin-left: 0;
}

.contact_title {
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0.4px;
  margin-bottom: 41px;
  margin-top: 32px;
}
.footer-address {
  letter-spacing: 0.2px;
}
.footer-address a {
  position: relative;
  left: 28px;
  display: block;
  max-width: 190px;
  color:#E1D4C9;
  text-decoration: none;
  margin-bottom: 20px;
}
.footer-address a::after {
  content: '';
  position: absolute;
  left: -28px;
  top: 100%;
  width: 100%;
  height: 2px;
  background-color: #E1D4C9;
  transform: scaleX(0);
  transition: all 0.7s ease-in-out;
}
.address::before {
  content: url('../images/pin-alt.svg');
  position: absolute;
  left: -28px;
  top: 0;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.tel::before {
  content: url('../images/phone.svg');
  position: absolute;
  left: -28px;
  top: 0;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.schedule::before {
  content: url('../images/clock.svg');
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
/* footer end */
/* media start */
@media screen and (min-width: 769px) {
  .header_menu-item:hover {
    transform: scale(1.1);
  }
  .header_menu a:hover {
    color:#665F55;
    text-decoration-color: #665F55;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
  }
  .menu_link:hover::after {
    transform: scale(100%);
  }
  .enjoy_button:hover {
    padding-left: 48px;
  }
  .enjoy_button:hover img {
    display: block;
  }
  .arrow:hover {
    background-color: #665F55;
   }
  .arrow:hover svg path {
    stroke: #E1D4C9;
   }
   .photo-item:hover img{
    transform: scale(0.95);
  }
  .app-button:hover {
    background-color: #665F55;
  }
  .app-button:hover .apple {
    background-image: url('../images/icon-apple-light.svg');
  }
  .app-button:hover .google {
    background-image: url('../images/icon-google-light.svg');
  }
  .app-button:hover .app-button_name {
    color: #E1D4C9;
  }
  .media-button:hover {
    background-color: #E1D4C9;
  }
  .media-button:hover svg path {
    stroke: #403F3D;
    transition: all 1s ease;
  }
  .footer-address a:hover::after {
    transform: scaleX(100%);
  }
}
@media screen and (max-width: 1290px){
.mobileapp_wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .mobileapp_promo {
    max-width: 688px;
  }
  .mobileapp_img {
    width: 688px;
  }
  #mobileapp {
    flex-direction: column;
    gap: 100px;
    align-items: center;
  }
  .photo-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .photo_column {
    max-width: 688px;
    gap: 40px;
  }
  .photo-item {
    width: 688px;
    height: 590px;
  }
  .small-photo {
    height: 430px;
  }
  footer {
    gap: 0;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1090px){
  footer {
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
  }
}
@media screen and (max-width: 970px){
  footer {
      flex-direction: column;
      padding-left: 60px;
      padding-right: 60px;
      gap: 70px;
  }
}
@media screen and (max-width: 768px){
  /* header-burger */
  body.no-scroll {
    overflow: hidden;
    height: 100%;
  }
  .container {
    position: relative;
    overflow: hidden;
    height: 100%;
  }
  .menu-wrapper {
    position:fixed;
    top: 80px;
    right: -100%;
    width: 100vw;
    height: 100%;
    background-color: #E1D4C9;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 80px 40px 100px 40px;
    z-index: 10;
    gap: 100px;
    transition: all 1s linear;
    overflow: auto;
  }
  .header_menu {
    flex-direction: column;
    justify-content: center;
    gap: 60px;
  }
  .header_menu__active {
    right: 0;
  }
  .header_menu a, .menu_link a{
    font-size: 32px;
    line-height: 125%;
  }
  .menu_link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu_link a{
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  .menu_link a span {
    margin-right: 16px;
  }
  .menu_link a img {
    flex: 0 0 40px;
  }
  .header-burger {
    display: block;
  }
  /* header-burger */
  .enjoy {
    padding-left: 60px;
    padding-right: 60px;
    background-position: 50% 0%;
  }
  .enjoy_button {
    padding-left: 48px;
  }
  .enjoy_button img {
    display: block;
  }
  .small-photo {
    display: none;
  }
  .item-wrapper {
    width: calc(480px*3);
  }
}
@media screen and (max-width: 755px){
  .photo-item {
    max-width: 600px;
    height: 560px;
  }
  .mobileapp_img {
    width: 550px;
    height: 550px;
    background-size: contain;
  }
  .enjoy {
    padding: 60px 16px;
    line-height: 115%;
  }
}
@media screen and (max-width: 700px){
  .arrow {
    display: none;
  }
  .slider {
    justify-content: center;
  }
}
@media screen and (max-width: 660px){
  .photo-item {
    max-width: 540px;
    height: 530px;
  }
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .enjoy_title {
    font-size: 42px;
    line-height: 115%;
    letter-spacing: 0.5px;
  }
  .enjoy_content {
    line-height: 150%;
  }
  .section_title {
    font-size: 32px;
    line-height: 125%;
    margin-bottom: 40px;
  }
  .slider-container {
    max-width: 348px;
  }
  .slider_image {
    width: 348px;
    height: 348px;
    transform: scale(0.7);
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .slider_image img {
    width: 490px;
    height: 500px;
  }
  .item-wrapper {
    width: calc(348px*3);
  }
  .slider_description h3 {
    margin-top: 22px;
    letter-spacing: 0.2px;
  }
  .mobileapp_promo {
    width: 100%;
  }
  .buttons-wrapper {
    flex-direction: column;
  }
  #mobileapp {
    gap: 40px;;
  }
  #mobileapp .section_title {
    letter-spacing: 0.4px;
  }
  .tagline {
    font-size: 32px;
    letter-spacing: 0.1px;
  }
  footer {
    padding: 62px 16px;
    gap: 0;
  }
  .contact_title {
    margin-top: 41px;
  }
}
@media screen and (max-width: 600px){
  .photo-item {
    max-width: 490px;
    height: 590px;
  }
  .mobileapp_img {
    width: 450px;
    height: 450px;
    background-size: contain;
  }
}
@media screen and (max-width: 530px) {
  .photo-item {
    max-width: 440px;
    height: 590px;
  }
}
@media screen and (max-width: 475px){
  /* .photo_column {
    flex-direction: column;
    max-width: 380px;
  } */
  .photo-item {
    max-width: 349px;
  }
  .mobileapp_img {
    width: 348px;
    height: 348px;
    background-size: contain;
  }
}
@media screen and (max-width: 390px){
  .slider-container {
    max-width: 347px;
  }
  .item-wrapper {
    width: calc(347px*3);
  }
}
/* media end */